body {
    background-color: rgb(37, 37, 37);
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    color: aliceblue;
}
.grid-cell{
    padding: 0.1em;
    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}


#grid{
   background-color: rgb(231, 231, 231);
   margin: 0 auto;
   width: 40rem;
   height: 40rem;;
   display: grid; 
}

.buttons{
    border: none;
    padding: 1em;
}

.buttons:hover{
    background-color: rgb(197, 197, 197);
}

.buttons:active{
    background-color: rgb(184, 184, 184);
    outline: none;
}

.buttons:focus{
    outline: none;
}